//=========================================================
//  Elements
//---------------------------------------------------------

html {
  overflow-y: scroll;
  background: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background: rgba(94,4,208,1);
}
